/**
LIST ITEM TAG STYLES
**/

/* Styles for React Tags*/
div.ReactTags__tags {
	position: relative;
	padding: 5px 10px 3px 35px;
	font-size: 75%;
	line-height: 1;
	text-transform: uppercase;
	color: #6c757d;
}

/* Styles for the input */
div.ReactTags__tagInput {
	display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
	text-transform: uppercase;
	margin: 0;
	width: 100%;
	border: 0;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
	font-weight: 700;
	border: 0;
	background: #f8f9fa;
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	border-radius: 0.25em;
}
div.ReactTags__selected a.ReactTags__remove {
	font-weight: 700;
	margin-left: 5px;
	cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
	position: absolute;
	font-weight: 700;
	z-index: 1000;
	overflow-y: hidden;
}
div.ReactTags__suggestions ul {
	padding: 0px;
	list-style-type: none;
	box-shadow: .05em .01em .5em rgba(0,0,0,.2);
	background: white;
}
div.ReactTags__suggestions li {
	padding: 5px 5px;
	margin: 0;
}
div.ReactTags__suggestions li mark {
	text-decoration: underline;
	background: none;
	font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
	background: #b7cfe0;
	cursor: pointer;
}


/**
FILTER INTERFACE TAG STYLES
**/

div.filterTags {
	display: inline-block;
	position: relative;
	padding: 5px 10px 3px 10px;
	line-height: 1;
	color: #6c757d;
}

/* Styles for the input */
div.filterTagInput {
	display: inline-block;
}
div.filterTagInput input.filterTagInputField,
div.filterTagInput input.filterTagInputField:focus {
	background: #fdfdfe;
	margin: 0;
	width: 100%;
	border: 0;
}

/* Styles for selected tags */
div.filterSelected span.filterTag {
	font-weight: 700;
	border: 0;
	background: #343a40;
	color: #ffffff;
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	border-radius: 0.25em;
	text-transform: uppercase;
	font-size: 0.9em;
}
div.filterSelected a.filterRemove {
	font-weight: 700;
	margin-left: 5px;
	cursor: pointer;
}

/* Styles for suggestions */
div.filterSuggestions {
	position: absolute;
	font-weight: 700;
	z-index: 1000;
	overflow-y: hidden;
	text-transform: uppercase;
	font-size: 0.9em;
}
div.filterSuggestions ul {
	padding: 0px;
	list-style-type: none;
	box-shadow: .05em .01em .5em rgba(0,0,0,.2);
	background: white;
}
div.filterSuggestions li {
	padding: 5px 5px;
	margin: 0;
}
div.filterSuggestions li mark {
	text-decoration: underline;
	background: none;
	font-weight: 600;
}
div.filterSuggestions ul li.filterActiveSuggestion {
	background: #b7cfe0;
	cursor: pointer;
}
