[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==1.9.4"
pylint-django = "==0.11"
pytest-django = "==3.4.4"
pytest-pylint = "==0.13.0"

[packages]
dj-database-url = "==0.4.2"
dj-static = "==0.0.6"
django-filter = "==1.0.4"
django-ordered-model = "==1.4.1"
djangorestframework = "==3.9.1"
gunicorn = "==19.5.0"
six = "==1.10.0"
static3 = "==0.6.1"
Django = "==1.11.23"
psycopg2 = "==2.7.6.1"
django-taggit = "==0.24.0"
pytest = "*"

[requires]
python_version = "2.7"
