{% load staticfiles %}
<html>
	<head>
		<title>{{ LISTERY_TITLE }}</title>
		<link rel="stylesheet" href="{% static 'listery/css/bootstrap/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'listery/css/style.css' %}">
	{% block style %}
	{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<span class="navbar-brand">{{ LISTERY_TITLE }}</span>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
						<li>
							<a href="{% url 'logout' %}?next=/">
								<button class="btn btn-light btn-sm">Logout</button>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>

		{% block content %}
		{% endblock %}

		<script>
			var currentUserID = {{ user.id }};
			var frontendLogsEnabled = '{{ LISTERY_FRONTEND_LOGS_ENABLED }}' == 'True' ? true : false;
		</script>
		{% block scripts %}
		{% endblock %}

		{% if user.is_authenticated %}
		<div class="row justify-content-center mx-0">
			<div class="col-md-6">
				<p>&nbsp;</p>
				<p class="text-center"><strong>API token:</strong>&nbsp;&nbsp;&nbsp;<code>{{ user.auth_token }}</code></p>
				<p>&nbsp;</p>
			</div>
		</div>
		{% endif %}
	</body>
</html>
