{% extends 'listery/base.html' %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" href="{% static 'listery/css/index.css' %}">
{% endblock %}
{% block content %}
	<div id="app-region" class="container">
		<div class="row">
			<div class="col-md-8" id="current-list-header-region">
			</div>
		</div>
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-6" id="current-list-actions-region">
			</div>
			<div class="col-md-2" id="current-list-count-region">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8" id="current-list-items-region">
			</div>
			<div id="all-lists-region" class="col-md-4">
			</div>
		</div>
	</div>
	
	<div class="overlay">
		<div class="loading-image">
			<img src="{% static 'listery/images/loading_large.gif' %}">
		</div>
	</div>
	
	<!-- TEMPLATES -->
	<script id="all-lists-template" type="text/template">
		<div class='list-group list-sortable' style="cursor: pointer;">
			<a class="list-group-item">
				<input type="text" id="new-list-name" style="width: 100%" placeholder="Add new list" maxlength=255/>
			</a>
		</div>
	</script>

	<script id="list-name-template" type="text/template">
		<div style="display: inline-block;"><%- name %></div>
		<span class="pull-right">
			<span class="hover-options hidden">
				<span class="glyphicon glyphicon-save download-item" style="cursor: pointer;"></span>&nbsp;
				<span class="glyphicon glyphicon-remove archive-item" style="cursor: pointer;"></span>
			</span>
		</span>
	</script>

	<script id="list-header-template" type="text/template">
		<div class="edit-name">
			<h1 class="toggle-on-name-edit" style="margin-top: 10px;"><%- name %></h1>
			<span class="toggle-on-name-edit hidden">
				<input type="text" class="name-input" style="width: 75%; color: black;" maxlength=255 placeholder="Name">
			</span>
		</div>
	</script>
	
	<script id="list-actions-template" type="text/template">
		<button class="btn btn-default btn-sm quick-sort"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Quick Sort</button>
		<button class="btn btn-default btn-sm check-all"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Check All</button>
		<button class="btn btn-default btn-sm uncheck-all"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Uncheck All</button>
		<% if (owner === userID) { %>
			<button class="btn btn-default btn-sm toggle-private"><% if (private) { %><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share<% } else { %><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Unshare<% } %></button>
		<% } %>
	</script>
	
	<script id="list-count-template" type="text/template">
		<p class="text-right" style="line-height: 30px; margin-bottom: 0px;"><span class="glyphicon glyphicon-check"></span>&nbsp;<%= checked_item_count %> / <%= item_count %></p>
	</script>
	
	<script id="list-items-template" type="text/template">
		<div class='list-group item-sortable' style="cursor: default;">
			<a class="list-group-item">
				<input type="text" class="new-title" style="width: 100%" placeholder="Add new item" maxlength=255/>
			</a>
		</div>
	</script>

	<script id="list-item-template" type="text/template">
		<span style="display: inline-block; text-align: center; width: 35px;" class="pull-left">
			<input type="checkbox" class="toggle-complete" <%= completed ? "checked" : "" %>/>
		</span>
		<span class="edit-title" style="cursor: text;">
			<div class="toggle-on-title-description-edit title" style="width: 90%; display: inline-block;"><%= titleToDisplay %></div>
		</span>
		<span class="toggle-on-title-description-edit hidden">
			<input type="text" class="title-input" style="width: 80%" maxlength=255 placeholder="Title"/>
		</span>
		<span class="pull-right">
			<img src="{% static 'listery/images/loading.gif' %}" class="toggle-on-save hidden"/>&nbsp;
			<span class="hover-options hidden">
				<span class="glyphicon glyphicon-remove delete-item" style="cursor: pointer;"></span>
			</span>
		</span>
		<span style="display: block; padding-left: 35px;">
			<% if (description) { %>
				<span class="edit-description">
					<small><i><span class="description toggle-on-title-description-edit" style="margin-top: 0; padding-top:0;"><%= descriptionToDisplay %></span></i></small>
				</span>
			<% } %>
			<input type="textarea" class="toggle-on-title-description-edit description-input hidden" style="width: 84%; margin-top: 0.5em; font-size: 0.8em;" placeholder="Description"/>
		</span>
	</script>
	<!-- END TEMPLATES -->
	<form id="download-form" method="POST" class="hidden">
		{% csrf_token %}
	</form>
{% endblock %}

{% block scripts %}
	<script src="{% static 'listery/js/lib/linkify.js' %}"></script>
	<script src="{% static 'listery/js/lib/linkify-html.js' %}"></script>
	<script src="{% static 'listery/js/index.js' %}"></script>
{% endblock %}