{% extends 'tasks/base.html' %}
{% load staticfiles %}
{% block style %}
<style>
.popover-title {
	color: white;
	background: #d9534f;
	border-color: #d43f3a;
	font-size: 1.5em;
	text-align: center;
}
.popover-content {
    color: #d9534f;
	display: inline-block;
}
</style>
{% endblock %}
{% block content %}
	<div id="app-region" class="container">
		<div class="row">
			<div class="col-md-8" id="current-list-header-region">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8" id="current-list-items-region">
			</div>
			<div id="all-lists-region" class="col-md-4">
			</div>
		</div>
	</div>
	<!-- TEMPLATES -->
	<script id="all-lists-template" type="text/template">
		<div class='list-group list-sortable' style="cursor: pointer;">
			<a class="list-group-item">
				<input type="text" id="new-list-name" style="width: 100%" placeholder="Add new list" maxlength=255/>
			</a>
		</div>
	</script>

	<script id="list-name-template" type="text/template">
		<span class="toggle-on-name-edit"><%= name %></span>
		<span class="toggle-on-name-edit hidden">
			<input type="text" class="name-input" style="width: 75%; color: black;" maxlength=255>
		</span>
		<span class="pull-right">
			<span class="hover-options hidden">
				<img src="{% static 'tasks/images/loading.gif' %}" class="toggle-on-save hidden"/>&nbsp;
				<span class="glyphicon glyphicon-save download-item" style="cursor: pointer;"></span>&nbsp;
				<span class="glyphicon glyphicon-pencil edit-name" style="cursor: pointer;"></span>&nbsp;
				<span class="glyphicon glyphicon-remove archive-item" style="cursor: pointer;"></span>
			</span>
		</span>
	</script>

	<script id="list-header-template" type="text/template">
		<h1 style="margin-bottom: 20px; margin-top: 10px; display: inline-block;"><%= name %></h1>
			<% if (owner === userID) { %>
				<span class="label label-default" style="vertical-align: middle; margin-left: 10px;"><input type="checkbox" class="toggle-private" <%= private ? "" : "checked" %>/>&nbsp;Shared</span>
			<% } %>
	</script>
	
	<script id="list-items-template" type="text/template">
		<div class='list-group item-sortable' style="cursor: default;">
			<a class="list-group-item">
				<input type="text" class="new-title" style="width: 100%" placeholder="Add new item" maxlength=255/>
			</a>
		</div>
	</script>

	<script id="list-item-template" type="text/template">
		<span style="display: inline-block; text-align: center; width: 35px;" class="pull-left">
			<input type="checkbox" class="toggle-complete" <%= completed ? "checked" : "" %>/>
		</span>
		<span class="edit-title" style="cursor: text;">
			<span class="toggle-on-title-description-edit title"><%= title %></span>
		</span>
		<span class="toggle-on-title-description-edit hidden">
			<input type="text" class="title-input" style="width: 80%" maxlength=255 placeholder="Title"/>
		</span>
		<span class="pull-right">
			<img src="{% static 'tasks/images/loading.gif' %}" class="toggle-on-save hidden"/>&nbsp;
			<span class="hover-options hidden">
				<span class="glyphicon glyphicon-remove delete-item" style="cursor: pointer;"></span>
			</span>
		</span>
		<span style="display: block; padding-left: 35px;">
			<% if (description) { %>
				<span class="edit-description">
					<small><i><span class="description toggle-on-title-description-edit" style="margin-top: 0; padding-top:0;"><%= description %></span></i></small>
				</span>
			<% } %>
			<input type="textarea" class="toggle-on-title-description-edit description-input hidden" style="width: 84%; margin-top: 0.5em; font-size: 0.8em;" placeholder="Description"/>
		</span>
	</script>
	<!-- END TEMPLATES -->
	<form id="download-form" method="POST" class="hidden">
		{% csrf_token %}
	</form>
{% endblock %}

{% block scripts %}
	<script src="{% static 'tasks/js/index.js' %}"></script>
{% endblock %}