{% extends 'tasks/base.html' %}
{% load staticfiles %}
{% block content %}
	<div id="app-region" class="container">
		<div class="row">
			<div class="col-md-8" id="current-list-name-region">
			</div>
		</div>
		<div class="row">
			<div class="col-md-8" id="current-list-items-region">
			</div>
			<div id="all-lists-region" class="col-md-4">
			</div>
		</div>
	</div>
	<!-- TEMPLATES -->
	<script id="all-lists-template" type="text/template">
		<div class='list-group' style="cursor: pointer;">
			<a class="list-group-item">
				<input type="text" id="new-list-name" style="width: 100%" placeholder="Add new list"/>
			</a>
		</div>
	</script>

	<script id="list-name-template" type="text/template">
		<span class="toggle-on-name-edit"><%= name %></span>
		<span class="toggle-on-name-edit hidden">
			<input type="text" class="name-input" style="width: 75%; color: black;">
		</span>
		<span class="pull-right">
			<span class="hover-options hidden">
				<span class="glyphicon glyphicon-save download-item" style="cursor: pointer;"></span>&nbsp;
				<span class="glyphicon glyphicon-pencil edit-name" style="cursor: pointer;"></span>&nbsp;
				<span class="glyphicon glyphicon-remove archive-item" style="cursor: pointer;"></span>
			</span>
		</span>
	</script>

	<script id="list-template" type="text/template">
		<h1 style="margin-bottom: 20px; margin-top: 10px;"><%= name %></h1>
	</script>
	
	<script id="list-items-template" type="text/template">
		<div class='list-group sortable' style="cursor: default;">
			<a class="list-group-item">
				<input type="text" class="new-title" style="width: 100%" placeholder="Add new item"/>
			</a>
		</div>
	</script>

	<script id="list-item-template" type="text/template">
		<span style="display: inline-block; text-align: center; width: 35px;" class="pull-left">
			<input type="checkbox" class="toggle-complete" <%= completed ? "checked" : "" %>/>
		</span>
		<span class="edit-title">
			<span class="toggle-on-title-edit title"><%= title %></span>
		</span>
		<span class="toggle-on-title-edit hidden">
			<input type="text" class="title-input" style="width: 80%">
		</span>
		<span class="pull-right">
			<span class="hover-options hidden">
				<% if (!description) { %>
					<span class="glyphicon glyphicon-plus add-description" style="cursor: pointer;"></span>
					&nbsp;
				<% } %>
				<span class="glyphicon glyphicon-remove delete-item" style="cursor: pointer;"></span>
			</span>
		</span>
		<span style="display: block; padding-left: 35px;">
			<% if (description) { %>
				<span class="edit-description">
					<small><i><span class="description toggle-on-description-edit" style="margin-top: 0; padding-top:0;"><%= description %></span></i></small>
				</span>
			<% } %>
			<input type="textarea" class="toggle-on-description-edit description-input hidden" style="width: 80%"/>
		</span>
	</script>
	<!-- END TEMPLATES -->
	<form id="download-form" method="POST" class="hidden">
		{% csrf_token %}
	</form>
{% endblock %}